# general
*.DS_Store
*html
*sh

# experiment
experiment/data

# analysis
analysis/data
analysis/test
analysis/pilot
analysis/questionnaire.csv

# material
material/expstimuli/selection/old_analysis

# others
others